body{
	background-color: lightgrey;
}
.navbar{
	background-color: purple;
}
.navbar-brand{
	color: black;
}
.cont{
	background-color: #333;
	color: #fff;
    padding: 20px;
    width:90%;
    margin: auto;
    font-size: 40px;
    border: 5px red solid;
    border-right:80px red solid;
    border-radius: 15px;
    box-sizing: border-box;
}
.cont h1{
	font-style: italic;
	font-family:  Arial, Helvetica, sans-serif;
	color: coral;
	padding: 2px;
}
.cont a{
	text-decoration: none;
	color: white;
}
.about1{
	margin-top: 10px;
  width: 300px;
  height: 100px;
  background-color: red;
  position: relative;
  -webkit-animation: myfirst 5s linear 2s infinite alternate; /* Safari 4.0 - 8.0 */
  animation: myfirst 4s linear 0.1s infinite alternate; 
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes myfirst{
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:1250px; top:0px;}
  50%  {background-color:blue; left:1250px; top:300px;}
  75%  {background-color:green; left:0px; top:300px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes myfirst {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:1020px; top:0px;}
  50%  {background-color:blue; left:1020px; top:450px;}
  75%  {background-color:green; left:0px; top:450px;}
  100% {background-color:red; left:0px; top:0px;}
}

.about ,.skill {
	text-align: center;
	font-size: 40px;
}
.skill h3{
	background-color: grey;
	color:white;
	border:5px green groove;
	border-radius: 10px;
}
.skill li{
	color:grey;
}
.about h1{
	line-height: 0px;
}
.about span{
	color: red;
	font-size: 50px;
}
.code{
	background-color :#333;
	color: #fff;
    padding: 20px;
    width:50%;
    margin: auto;
    font-size: 40px;
    border: 5px red solid;
    float: left;
    box-sizing: border-box; 
}
.code ul{
	text-align: left;
}
.web{
	background-color: #333;
	color: #fff;
    padding: 20px;
    width:50%;
    margin: auto;
    font-size: 40px;
    border: 5px red solid;
    float: right;
    box-sizing: border-box;
}
.web ul{
	text-align: left;
}
.skill h2{
	background-color: blue;
	color:rgb(300,400,0);
	font-size: 40px;
	padding: 5px;
	margin: 40px  400px;
	margin-top: 120px;
	float: center;
	 border: 5px red groove;
	 border-radius: 30px;
	 box-sizing: border-box;
}
.qual{
	background-image: url(blue.jpg);
	color: black;
    padding: 20px;
    width:100%;
    margin-top: 500px;
    font-size: 40px;
    border: 15px green solid;
    border-right:180px green solid;
    border-radius: 15px;
    box-sizing: border-box;
}
.qual h1{
	background-color: rgb(25,56,76);
	border: 15px lightblue groove;
	margin-right: 400px;
	color: rgb(250,66,77);
}
.find{
	background-image: url(blue.jpg);
	color: red;
    padding: 20px;
    width:100%;
    font-size: 40px;
    border: 15px coral solid;
    border-right:180px coral solid;
    border-radius: 15px;
    box-sizing: border-box;
}
.find h3{
	background-color: #000;
	color:red;
	margin-right: 700px;
	border:15px grey groove;
	border-radius: 10px;
}
.find ul{
	color: coral;
	list-style: square;
}
.find a{
	text-decoration: none;
	font-size: 50px;
}
a:hover{
	color: green;
}
footer{
    background: #111;
    padding: 20px;
    color: white;
}
footer p{
	font-size: 20px;
    margin: 0;
}
footer p a{
    color: #ff2b42;
}
@media(max-width: 800px){
	.cont p{
		font-size: 50%;
		margin: 0;
		width: 100%;
		}
	.code{
		width:100%;
		float: none;
		margin-bottom: 5px;
	}
	.web{
		width:100%;
		float: none;
		margin-bottom: 5px;;
	}
	.skill h2{
		width: 100%;
		margin: 0;
		margin-bottom: 5px;
	}
	.find h3{
		margin: 0; 
		font-size: 100%
	}
	.qual{
		margin:0;font-size: 100%;
	}
	.qual h1{
	font-size:100%; 
	margin:0;
	}
	.about1{
	margin-top: 10px;
  width: 30px;
  height: 30px;
  background-color: red;
  position: relative;
  -webkit-animation: myfirst 5s linear 2s infinite alternate; /* Safari 4.0 - 8.0 */
  animation: myfirst 4s linear 0.1s infinite alternate; 
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes myfirst{
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:250px; top:0px;}
  50%  {background-color:blue; left:250px; top:300px;}
  75%  {background-color:green; left:0px; top:300px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes myfirst {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:510px; top:0px;}
  50%  {background-color:blue; left:510px; top:460px;}
  75%  {background-color:green; left:0px; top:460px;}
  100% {background-color:red; left:0px; top:0px;}
}

}

